@import url("reset.css");

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab');

html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: #b8b8b8;
    line-height: normal;
    position: relative;
    padding-bottom: 5.5em;
    min-height: 100%;
}
.container {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header, footer {
    background-color: #ed5542;
    color: #FFFFFF;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}
section {
    background-color: #e6e6e6;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em;
    text-align: left;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, label, td, th, input {
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}

#github {
    position: absolute;
    bottom: 0;
    right: 5px;
}

#github img {
    height: 45px;
}

@media only screen and (max-width: 600px) {
    #github {
        display: none;
    }
}

table {
    width: 100%;
}

th {
    background-color: #f69c50;
    padding: 0.5em;
    color: #FFFFFF;
}

td {
    padding: 0.5em;
}

tr:nth-child(odd) {
    background-color: #c9c9c9;
}

tr:nth-child(even) {
    background-color: #b6b6b6;
}

tfoot td {
    background-color: #f69c50;
    color: #FFFFFF;
}

input[type=button] {
    background-color: #f69c50;
    border: none;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
}